<div class="container d-flex justify-content-center containerPrincipal">
    <div  class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 ">
        <div class="row">
          <div class="col-12">
            <h1> Bem vido ao APP cadastro premiado. </h1>
          </div>
          <div class="col-7">
            <h4 class="mt-3">Aqui voce pode cadastrar seus dados e ter uma surpresa</h4>
            <p class="mt-2">E alimentar um banco de dados com esses dados para uso futuro, e voce se benefivia disso ganhando uma quantia em dinheiro</p>
          </div>
          <div  class="col-4 d-flex align-items-center justify-content-center">
            <img class="img-fluid" src="../../../assets/contact-form (1).png" alt="">
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 ">
        <form (ngSubmit)="submit()" [formGroup]="formulario" #formDir = "ngForm">
          <div class="mt-3">
            <label for="name">Nome:</label><br>
            <input id="name" type="text" formControlName="name">
            <div *ngIf="name.invalid && formDir.submitted" class="validation-error">
              <p class="verification-error-name" *ngIf="name.errors?.['required']">*O nome é obrigatorio</p>
              <p *ngIf="name.errors?.['minlength']">*o minimo de letras são 2</p>
            </div>
          </div>
          <div class="mt-3">
            <label for="lastname" >Sobrenome:</label><br>
            <input id="lastname" type="text" formControlName="lastname">
            <div *ngIf="lastname.invalid && formDir.submitted" class="validation-error">
              <p class="verification-error-lastname" *ngIf="lastname.errors?.['required']">*O sobrenome é obrigatório</p>
              <p *ngIf="lastname.errors?.['minlength']">*o minimo de letras são 2</p>
            </div>
            
          </div>
          <div class="mt-3">
            <label for="email" >Email:</label><br>
            <input id="email" type="email" formControlName="email">
            <div *ngIf="email.invalid && formDir.submitted" class="validation-error">
              <p class="verification-error-lastname" *ngIf="email.errors?.['required']">*O Email é obrigatorio</p>
            </div>
          </div>
          <div class="mt-3 checkbox"   >
            <div>
              <input id="checkbox" type="checkbox" formControlName="checkbox">
            </div>
            <div>
              <p>Ao criar uma conta, voce aceita os <a [routerLink]="['/termos']">termos de uso</a></p>
            </div>
          </div>
          <div class="mt-3">
            <p><a [routerLink]="['/login']">CLIQUE AQUI </a>para para logar</p>
          </div>
          <div class="mt-3">
            <button class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
 ' <div class="container">
    <div *ngIf="formDir.submitted" class="" >
      <h1 >Resultado</h1>
      <h2 *ngFor="let object of data">Nome:{{object.name}} </h2>
    </div>
  </div>'