.btn-log{
    height: 40%;
    padding: 10px;
    border: 1px solid black;
}
.btn-log:hover{
    color: #ccc;    
    border: 1px solid #ccc;
}
.logo{
    margin-right: 3rem;
}
.email, .senha{
    width: 65%;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid black;

}
.btn-primary{
    width: 65%;
    height: 3rem;
}
.btn-log{
    width: 65%;
}