<div class="container">
    
        
    <form action="" (ngSubmit)="enviarForm($event)" [formGroup]="formulario">
        <div class="row">
            <div class="col-12 mt-5">
                <label for="">E-mail</label> <br>
                <input class="email" type="email" formControlName="email" placeholder="Insira seu E-mail">
            </div>
            <div>
                <!-- <p *ngIf="formulario.email.errors?.['required'] || formulario.email.values === '' " class="verification-error-email">*O campo da senha deve ser preenchido</p> -->
            </div>
            <div class="col-12 mt-3">
                <label for="">Senha</label><br>
                <input class="senha" type="password" formControlName="password" placeholder="Insira sua senha">
            </div>
            <div>
                <!-- <p *ngIf="formulario.password.errors?.['required']" class="verification-error-email">*O campo da senha deve ser preenchido</p> -->
            </div>
            <div class="col mt-4">
                <button class="btn btn-primary">Entrar</button>
            </div>
            
        </div>
    </form>
        
    <div class="row mt-5">
        <div class="col">
            <div class="">
                <div class="mt-5">
                  <button class="btn btn-log "> <img class="logo" src="../../../assets/google.png" alt="">Continuar com google</button>
                </div>
                <div class="mt-4">
                  <button class="btn btn-log"> <img class="logo" src="../../../assets/apple.png" alt="">  Continuar com Apple</button>
                </div>
               </div>
        </div>
    </div>
</div>
