<div class="row mt-5">
    <div class="col">
        <h4>Moeda</h4>
        <form action=""  [formGroup]="formulario" #formDir >
            
            <input type="text" name="moedas" id="input-moeda" formControlName="moedas" (input)="search($event)">

        </form>
    </div>
</div>

<div class="response" >
    <div class="row mt-5">
        <div class="col-6">
            <p class="moeda">Moeda</p>
        </div>
        <div class="col-6">
            <p class="cotacao">Cotação</p>
        </div>
        <div class="col-6">
            <p *ngFor="let moeda of moedas" >{{moeda.symbol}}</p>
        </div>
        <div class="col-6">
            <p *ngFor="let moeda of moedas" >${{moeda.price}}</p>
        </div>
    </div>
    <div class="col-12 text-center">
    </div>
</div>


