
.cotacao{
    font-size: 25px;
    color:blue ;
}
.moeda{
    font-size: 25px;
    color:blue ;
}
.rol{
    height: 15rem;
    background-color:darkgray;
    color: white;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
}
.rol::-webkit-scrollbar {
    width: 5px;
    height: 7rem   ;
}
  
.rol::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 4px;
    
}
  
.rol::-webkit-scrollbar-track {
    background: lightgray;
}
.logoSpinner{
    animation: spin 2s linear infinite;
}
@keyframes spin  {
    to {
      transform: rotate(360deg);
    }
}
.logo{
    width: 2rem;
    height: 2rem;
}
div ul li{
    list-style: none;
}
div ul li p{
    display: flex;
    justify-content: space-between;
}
