<div class="row mt-5">
    <div class="col-12 text-center">
        <h4>Moeda</h4>
        <form action=""  [formGroup]="formulario" #formDir >
            
            <input type="text" name="moedas" id="input-moeda" formControlName="moedas" (input)="search($event)">

        </form>
    </div>
</div>


    
<div class="col-12 mt-5" *ngIf = "isLoader ">
    <div class="text-center d-flex align-items-center mt-5 ">
        <img class="logoSpinner" src="../../../assets/logo.svg" alt="">
    </div>
    <div>
        <p>Carregando moedas...</p>
    </div>
</div>
<div class="row mt-5" *ngIf = "!isLoader"  >

    <div class="col-6" style="height: 45vh;">
       <div class="row justify-content-center">
        <div class="col-10">
            <h1>acompanhe o mercado que mais cresce.</h1>
            <h3></h3>
            <p>Speech synthesis is the artificial production of human speech. A computer system used for this purpose is called a speech synthesizer, and can be implemented in software or hardware products. A text-to-speech (TTS) system converts normal language text into speech; other systems render symbolic linguistic representations like phonetic transcriptions into speech.[1] The reverse process is speech recognition.</p>
        </div>
       </div>
    </div>
    <div class="col-6 text-center " style="height: 45vh;">
        <div class="row justify-content-center">
            <div class="col-6 rol">
                <h3>companhe o mercado</h3>
                <ul>
                    <li class="p-2" *ngFor="let moeda of logo"><p ><span><img src="{{moeda.image}}" alt="" style="height: 20px; width: 20px;"></span><span>{{moeda.name}}</span> <span>{{moeda.current_price}}</span></p></li>
                </ul>
            </div>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-6">
        
    </div>
    <div class="col-6">

    </div>
</div>


